h3 {
    margin: 40px 0 0;
}
h4 {
    font-family: Georgia,"Times New Roman",Times,serif;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: block;
    margin: 0 5rem;
}
a {
    color: #42b983;
}
p.news {
    font-family: Georgia,"Times New Roman",Times,serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    text-align: justify;
}
div.news {
    border-color: #753836;
    border-style: solid;
    border-width: medium;
    border-radius: 5px;
}
.aligned {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
}